In [29]:
#import dependencies
import pandas as pd

In [30]:
#define file paths
studentDataFile="students_complete.csv"
schoolDataFile="schools_complete.csv"

In [110]:
#generate data frames based on file names
studentDf=pd.read_csv(studentDataFile)
schoolDf=pd.read_csv(schoolDataFile)

In [180]:
#merge data sets based on school name
schoolDataComplete=pd.merge(studentDf, schoolDf, how="left", on=["school_name", "school_name"])
schoolDataComplete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [33]:
schoolDataComplete.dtypes

Student ID        int64
student_name     object
gender           object
grade            object
school_name      object
reading_score     int64
math_score        int64
School ID         int64
type             object
size              int64
budget            int64
dtype: object

In [112]:
#find out how many unique values exist in the school name column to get number of schools
numSchools=schoolDataComplete["school_name"].nunique()

In [113]:
#find out how many students there are by using count. We do not use nunique here in case students have same name
numStudents=schoolDataComplete["student_name"].count()

In [114]:
#group the data by school name then use unique to get budget as it is listed multiple times
budgetDf=schoolDataComplete.groupby(["school_name"])
budgetSeries=budgetDf["budget"].unique()
#convert budget to a float so we can add it
budgetSeriesFloats=budgetSeries.astype(float)
totalBudget=budgetSeriesFloats.sum()

In [115]:
#take mean of math score column
avgMathScore=schoolDataComplete["math_score"].mean()

In [116]:
#take mean of reading score column
avgReadingScore=schoolDataComplete["reading_score"].mean()

In [117]:
#filter columns for rows in which only scores greater than or equal to 70 exist then count those scores, divide them by total num students to get percentage
passingMathScore=schoolDataComplete.loc[schoolDataComplete["math_score"]>=70, :]
passingMathStudent=passingMathScore["Student ID"].count()
passingMathPercent=(passingMathStudent/numStudents)*100

In [118]:
passingReadingScore=schoolDataComplete.loc[schoolDataComplete["reading_score"]>=70,:]
passingReadingStudent=passingReadingScore["Student ID"].count()
passingReadingPercent=(passingReadingStudent/numStudents)*100

In [119]:
#perform filtering on both math and reading score >70 conditions
overallPassingScore=schoolDataComplete.loc[(schoolDataComplete["math_score"]>=70)&(schoolDataComplete["reading_score"]>=70), :]
overallPassingStudent=overallPassingScore["Student ID"].count()
overallPassingPercent=(overallPassingStudent/numStudents)*100

In [120]:
#format our data so it looks cleaner
district={"Total Schools":[numSchools], "Total Students":[numStudents], "Total Budget":[totalBudget], "Average Math Score":[avgMathScore], "Average Reading Score":[avgReadingScore], "% Passing Math":[passingMathPercent], "% Passing Reading":[passingReadingPercent], "% Overall Passing":[overallPassingPercent]}
districtDf=pd.DataFrame(district)
districtDf["Total Students"]=districtDf["Total Students"].map("{:,}".format)
districtDf["Total Budget"]=districtDf["Total Budget"].astype(float).map("${:,.2f}".format)
districtDf["Average Math Score"]=districtDf["Average Math Score"].astype(float).map("{:.2f}".format)
districtDf["Average Reading Score"]=districtDf["Average Reading Score"].astype(float).map("{:.2f}".format)
districtDf["% Passing Math"]=districtDf["% Passing Math"].astype(float).map("{:.2f}%".format)
districtDf["% Passing Reading"]=districtDf["% Passing Reading"].astype(float).map("{:.2f}%".format)
districtDf["% Overall Passing"]=districtDf["% Overall Passing"].astype(float).map("{:.2f}%".format)
districtDf

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",78.99,81.88,74.98%,85.81%,65.17%

In [183]:
schoolNamesGroup=schoolDataComplete.groupby(["school_name"])

In [258]:
schoolTypes=schoolNamesGroup["type"].unique()
schoolTypes=schoolTypes.rename("School Type")
schoolTypes

school_name
Bailey High School       [District]
Cabrera High School       [Charter]
Figueroa High School     [District]
Ford High School         [District]
Griffin High School       [Charter]
Hernandez High School    [District]
Holden High School        [Charter]
Huang High School        [District]
Johnson High School      [District]
Pena High School          [Charter]
Rodriguez High School    [District]
Shelton High School       [Charter]
Thomas High School        [Charter]
Wilson High School        [Charter]
Wright High School        [Charter]
Name: School Type, dtype: object

In [235]:
totalStudents=schoolNamesGroup["Student ID"].count()
totalStudents=totalStudents.rename("Total Students")
totalStudents

school_name
Bailey High School       4976
Cabrera High School      1858
Figueroa High School     2949
Ford High School         2739
Griffin High School      1468
Hernandez High School    4635
Holden High School        427
Huang High School        2917
Johnson High School      4761
Pena High School          962
Rodriguez High School    3999
Shelton High School      1761
Thomas High School       1635
Wilson High School       2283
Wright High School       1800
Name: Total Students, dtype: int64

In [236]:
totalSchoolBudget=schoolNamesGroup["budget"].unique()
totalSchoolBudget=totalSchoolBudget.rename("Total School Budget").astype(float)
totalSchoolBudget

school_name
Bailey High School       3124928.0
Cabrera High School      1081356.0
Figueroa High School     1884411.0
Ford High School         1763916.0
Griffin High School       917500.0
Hernandez High School    3022020.0
Holden High School        248087.0
Huang High School        1910635.0
Johnson High School      3094650.0
Pena High School          585858.0
Rodriguez High School    2547363.0
Shelton High School      1056600.0
Thomas High School       1043130.0
Wilson High School       1319574.0
Wright High School       1049400.0
Name: Total School Budget, dtype: float64

In [237]:
avgMathScore=schoolNamesGroup["math_score"].mean()
avgMathScore=avgMathScore.rename("Average Math Score")
avgMathScore

school_name
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
Name: Average Math Score, dtype: float64

In [238]:
avgReadingScore=schoolNamesGroup["reading_score"].mean()
avgReadingScore=avgReadingScore.rename("Average Reading Score")
avgReadingScore

school_name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: Average Reading Score, dtype: float64

In [193]:
passingMathNum=schoolNamesGroup["math_score"].apply(lambda x: (x>=70).sum())
passingMathNum

school_name
Bailey High School       3318
Cabrera High School      1749
Figueroa High School     1946
Ford High School         1871
Griffin High School      1371
Hernandez High School    3094
Holden High School        395
Huang High School        1916
Johnson High School      3145
Pena High School          910
Rodriguez High School    2654
Shelton High School      1653
Thomas High School       1525
Wilson High School       2143
Wright High School       1680
Name: math_score, dtype: int64

In [267]:
totalTakingMath=schoolNamesGroup["math_score"].count()
pctPassingMath=((passingMathNum/totalTakingMath)*100).rename("% Passing Math")
pctPassingMath

school_name
Bailey High School       66.680064
Cabrera High School      94.133477
Figueroa High School     65.988471
Ford High School         68.309602
Griffin High School      93.392371
Hernandez High School    66.752967
Holden High School       92.505855
Huang High School        65.683922
Johnson High School      66.057551
Pena High School         94.594595
Rodriguez High School    66.366592
Shelton High School      93.867121
Thomas High School       93.272171
Wilson High School       93.867718
Wright High School       93.333333
Name: % Passing Math, dtype: float64

In [244]:
perStudentBudget=totalSchoolBudget/totalStudents
perStudentBudget=perStudentBudget.rename("Per Student Budget")
perStudentBudget

school_name
Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
Name: Per Student Budget, dtype: float64

In [208]:
passingReadingNum=schoolNamesGroup["reading_score"].apply(lambda x: (x>=70).sum())
passingReadingNum

school_name
Bailey High School       4077
Cabrera High School      1803
Figueroa High School     2381
Ford High School         2172
Griffin High School      1426
Hernandez High School    3748
Holden High School        411
Huang High School        2372
Johnson High School      3867
Pena High School          923
Rodriguez High School    3208
Shelton High School      1688
Thomas High School       1591
Wilson High School       2204
Wright High School       1739
Name: reading_score, dtype: int64

In [266]:
numTakingReading=schoolNamesGroup["reading_score"].count()
pctPassingReading=((passingReadingNum/numTakingReading)*100).rename("% Passing Reading")
pctPassingReading

school_name
Bailey High School       81.933280
Cabrera High School      97.039828
Figueroa High School     80.739234
Ford High School         79.299014
Griffin High School      97.138965
Hernandez High School    80.862999
Holden High School       96.252927
Huang High School        81.316421
Johnson High School      81.222432
Pena High School         95.945946
Rodriguez High School    80.220055
Shelton High School      95.854628
Thomas High School       97.308869
Wilson High School       96.539641
Wright High School       96.611111
Name: % Passing Reading, dtype: float64

In [264]:
overallPassingScoreGroup=overallPassingScore.groupby(["school_name"])
overallPassingNum=overallPassingScoreGroup['Student ID'].count()
passingBothPercent=((overallPassingNum/totalStudents)*100).rename("% Overall Passing")
passingBothPercent

school_name
Bailey High School       54.642283
Cabrera High School      91.334769
Figueroa High School     53.204476
Ford High School         54.289887
Griffin High School      90.599455
Hernandez High School    53.527508
Holden High School       89.227166
Huang High School        53.513884
Johnson High School      53.539172
Pena High School         90.540541
Rodriguez High School    52.988247
Shelton High School      89.892107
Thomas High School       90.948012
Wilson High School       90.582567
Wright High School       90.333333
Name: % Overall Passing, dtype: float64

In [268]:
schoolSummaryDf=pd.concat([schoolTypes, totalStudents, totalSchoolBudget, perStudentBudget, avgMathScore, avgReadingScore, pctPassingMath, pctPassingReading, passingBothPercent], axis='columns', sort=False)
schoolSummaryDf["Total School Budget"]=schoolSummaryDf["Total School Budget"].map("${:,.2f}".format)
schoolSummaryDf["Per Student Budget"]=schoolSummaryDf["Per Student Budget"].map("${:,.2f}".format)
schoolSummaryDf

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Bailey High School,[District],4976,"$3,124,928.00",$628.00,77.048432,81.033963,66.680064,81.933280,54.642283
Cabrera High School,[Charter],1858,"$1,081,356.00",$582.00,83.061895,83.975780,94.133477,97.039828,91.334769
Figueroa High School,[District],2949,"$1,884,411.00",$639.00,76.711767,81.158020,65.988471,80.739234,53.204476
Ford High School,[District],2739,"$1,763,916.00",$644.00,77.102592,80.746258,68.309602,79.299014,54.289887
Griffin High School,[Charter],1468,"$917,500.00",$625.00,83.351499,83.816757,93.392371,97.138965,90.599455
Hernandez High School,[District],4635,"$3,022,020.00",$652.00,77.289752,80.934412,66.752967,80.862999,53.527508
Holden High School,[Charter],427,"$248,087.00",$581.00,83.803279,83.814988,92.505855,96.252927,89.227166
Huang High School,[District],2917,"$1,910,635.00",$655.00,76.629414,81.182722,65.683922,81.316421,53.513884
Johnson High School,[District],4761,"$3,094,650.00",$650.00,77.072464,80.966394,66.057551,81.222432,53.539172
Pena High School,[Charter],962,"$585,858.00",$609.00,83.839917,84.044699,94.594595,95.945946,90.540541
Rodriguez High School,[District],3999,"$2,547,363.00",$637.00,76.842711,80.744686,66.366592,80.220055,52.988247
Shelton High School,[Charter],1761,"$1,056,600.00",$600.00,83.359455,83.725724,93.867121,95.854628,89.892107
Thomas High School,[Charter],1635,"$1,043,130.00",$638.00,83.418349,83.848930,93.272171,97.308869,90.948012
Wilson High School,[Charter],2283,"$1,319,574.00",$578.00,83.274201,83.989488,93.867718,96.539641,90.582567
Wright High School,[Charter],1800,"$1,049,400.00",$583.00,83.682222,83.955000,93.333333,96.611111,90.333333

In [269]:
schoolSummaryDf.sort_values(["% Overall Passing"]).head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Rodriguez High School,[District],3999,"$2,547,363.00",$637.00,76.842711,80.744686,66.366592,80.220055,52.988247
Figueroa High School,[District],2949,"$1,884,411.00",$639.00,76.711767,81.158020,65.988471,80.739234,53.204476
Huang High School,[District],2917,"$1,910,635.00",$655.00,76.629414,81.182722,65.683922,81.316421,53.513884
Hernandez High School,[District],4635,"$3,022,020.00",$652.00,77.289752,80.934412,66.752967,80.862999,53.527508
Johnson High School,[District],4761,"$3,094,650.00",$650.00,77.072464,80.966394,66.057551,81.222432,53.539172