In [29]:
#import dependencies
import pandas as pd

In [30]:
#define file paths
studentDataFile="students_complete.csv"
schoolDataFile="schools_complete.csv"

In [110]:
#generate data frames based on file names
studentDf=pd.read_csv(studentDataFile)
schoolDf=pd.read_csv(schoolDataFile)

In [144]:
#merge data sets based on school name
schoolDataComplete=pd.merge(studentDf, schoolDf, how="left", on=["school_name", "school_name"])
schoolDataComplete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [33]:
schoolDataComplete.dtypes

Student ID        int64
student_name     object
gender           object
grade            object
school_name      object
reading_score     int64
math_score        int64
School ID         int64
type             object
size              int64
budget            int64
dtype: object

In [112]:
#find out how many unique values exist in the school name column to get number of schools
numSchools=schoolDataComplete["school_name"].nunique()

In [113]:
#find out how many students there are by using count. We do not use nunique here in case students have same name
numStudents=schoolDataComplete["student_name"].count()

In [114]:
#group the data by school name then use unique to get budget as it is listed multiple times
budgetDf=schoolDataComplete.groupby(["school_name"])
budgetSeries=budgetDf["budget"].unique()
#convert budget to a float so we can add it
budgetSeriesFloats=budgetSeries.astype(float)
totalBudget=budgetSeriesFloats.sum()

In [115]:
#take mean of math score column
avgMathScore=schoolDataComplete["math_score"].mean()

In [116]:
#take mean of reading score column
avgReadingScore=schoolDataComplete["reading_score"].mean()

In [117]:
#filter columns for rows in which only scores greater than or equal to 70 exist then count those scores, divide them by total num students to get percentage
passingMathScore=schoolDataComplete.loc[schoolDataComplete["math_score"]>=70, :]
passingMathStudent=passingMathScore["Student ID"].count()
passingMathPercent=(passingMathStudent/numStudents)*100

In [118]:
passingReadingScore=schoolDataComplete.loc[schoolDataComplete["reading_score"]>=70,:]
passingReadingStudent=passingReadingScore["Student ID"].count()
passingReadingPercent=(passingReadingStudent/numStudents)*100

In [119]:
#perform filtering on both math and reading score >70 conditions
overallPassingScore=schoolDataComplete.loc[(schoolDataComplete["math_score"]>=70)&(schoolDataComplete["reading_score"]>=70), :]
overallPassingStudent=overallPassingScore["Student ID"].count()
overallPassingPercent=(overallPassingStudent/numStudents)*100

In [120]:
#format our data so it looks cleaner
district={"Total Schools":[numSchools], "Total Students":[numStudents], "Total Budget":[totalBudget], "Average Math Score":[avgMathScore], "Average Reading Score":[avgReadingScore], "% Passing Math":[passingMathPercent], "% Passing Reading":[passingReadingPercent], "% Overall Passing":[overallPassingPercent]}
districtDf=pd.DataFrame(district)
districtDf["Total Students"]=districtDf["Total Students"].map("{:,}".format)
districtDf["Total Budget"]=districtDf["Total Budget"].astype(float).map("${:,.2f}".format)
districtDf["Average Math Score"]=districtDf["Average Math Score"].astype(float).map("{:.2f}".format)
districtDf["Average Reading Score"]=districtDf["Average Reading Score"].astype(float).map("{:.2f}".format)
districtDf["% Passing Math"]=districtDf["% Passing Math"].astype(float).map("{:.2f}%".format)
districtDf["% Passing Reading"]=districtDf["% Passing Reading"].astype(float).map("{:.2f}%".format)
districtDf["% Overall Passing"]=districtDf["% Overall Passing"].astype(float).map("{:.2f}%".format)
districtDf

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",78.99,81.88,74.98%,85.81%,65.17%

In [146]:
schoolNames=schoolDataComplete.loc[]

school_name
Bailey High School       4976
Cabrera High School      1858
Figueroa High School     2949
Ford High School         2739
Griffin High School      1468
Hernandez High School    4635
Holden High School        427
Huang High School        2917
Johnson High School      4761
Pena High School          962
Rodriguez High School    3999
Shelton High School      1761
Thomas High School       1635
Wilson High School       2283
Wright High School       1800
Name: Student ID, dtype: int64

school_name
Bailey High School       [District]
Cabrera High School       [Charter]
Figueroa High School     [District]
Ford High School         [District]
Griffin High School       [Charter]
Hernandez High School    [District]
Holden High School        [Charter]
Huang High School        [District]
Johnson High School      [District]
Pena High School          [Charter]
Rodriguez High School    [District]
Shelton High School       [Charter]
Thomas High School        [Charter]
Wilson High School        [Charter]
Wright High School        [Charter]
Name: type, dtype: object