In [29]:
import pandas as pd

In [30]:
studentDataFile="students_complete.csv"
schoolDataFile="schools_complete.csv"

In [31]:
studentDf=pd.read_csv(studentDataFile)
schoolDf=pd.read_csv(schoolDataFile)
studentDf.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [32]:
schoolDataComplete=pd.merge(studentDf, schoolDf, how="left", on=["school_name", "school_name"])
schoolDataComplete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [33]:
schoolDataComplete.dtypes

Student ID        int64
student_name     object
gender           object
grade            object
school_name      object
reading_score     int64
math_score        int64
School ID         int64
type             object
size              int64
budget            int64
dtype: object

In [34]:
numSchools=schoolDataComplete["school_name"].nunique()
numSchools

15

In [36]:
numStudents=schoolDataComplete["student_name"].count()
numStudents

39170

In [49]:
budgetDf=schoolDataComplete.groupby(["school_name"])
budgetSeries=budgetDf["budget"].unique()
budgetSeriesFloats=budgetSeries.astype(float)
totalBudget=budgetSeriesFloats.sum()
totalBudget

24649428.0

In [53]:
avgMathScore=schoolDataComplete["math_score"].mean()
avgMathScore

78.98537145774827

In [56]:
avgReadingScore=schoolDataComplete["reading_score"].mean()
avgReadingScore

81.87784018381414

In [64]:
passingMathScore=schoolDataComplete.loc[schoolDataComplete["math_score"]>70, :]
passingMathScore.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635